/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.Block{
  height: 158px;
  width: 1230px;
  
  display: flex;
  margin-bottom: 10px;
  
}
img{
  height: 100%;

}
button{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bag{
  width: 1230px;

}
.Total{
  width: 1230px;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 1000px;
  border-top: 1px solid;
}
.Total p{
  margin-left: 40px;
}
.head{
  width: 50%;
  text-align: center;

}
.er{
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex; 
}
.er p {
  background-color: yellow;
  font-size: 22px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: 1434px;
    top: 31px;
    bottom: 845px;
}
header{
  display: flex;
  border: 1px solid;
  height: 160px;
  background-color: blue;
}
.Icon{
  font-size: 50px;

}
h1{
  font-size: 60px;

}
button{
  font-size: 30px;
  background-color: blue;
  cursor: pointer;
}
.info{
  text-align:left ;
  font-size: 18px;
}
.remove{
  cursor: pointer;
  color: blue;
}
.Incre{
  font-size: 40px;
  margin-top: 26px;
  cursor: pointer;
}
.Decre{
  font-size: 40px;
  cursor: pointer;
}
.ADDREMOVE{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
width: 10%;
}
.ADDREMOVE h4{
  font-size: 25px;
  margin: 0px;
}
.info1{
  width: 90%;
  display: flex;

}